.currency-calculator-container {
    overflow: hidden;
}

.currency-calculator-form-input {
    margin-bottom: 30px;
}

.currency-calculator-form-input input {
    width: 100px;
}

.currency-calculator-calculate {
    font-size: 18px;
}

.currency-calculator-output {
    margin-bottom: 30px;
}

.currency-calculator-output-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.currency-calculator-output-number {
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px 15px;
}

@media only screen and (min-width: 960px) {
    .currency-calculator-form-input {
        float: left;
        width: 48%;
    }

    .currency-calculator-output {
        float: right;
        width: 48%;
    }
}